@charset "utf-8";
/* CSS Document */
a{color:#999;}
.ld_main_s_head{width:976px;padding-left:4px;margin:0 auto;border-bottom:2px solid #e8e8e8;padding-bottom:7px;height:32px;margin-bottom:15px;}
.ld_main_s_head_left{background:url(../images/ld11.jpg) no-repeat 0;font-size:22px;color:#010101;padding-left:30px;font-weight:bold;}
.ld_classify a{border-right:1px solid #e8e8e8;color:#666;padding-right:10px;margin-right:9px;line-height:24px;font-size:14px;}
.ld_classify a:hover{color:#00bbbb;}
.ld_classify .ld_classify_last{border-right:none;margin-right:15px;}
.ld_all{border:1px solid #e8e8e8;width:50px;height:24px; text-align:center;line-height:24px;color:#666;font-size:14px;}
.ld_all:hover{color:#00bbbb;}

.ld_main_s{width:980px;margin:0 auto;margin-bottom:55px;}
.ld_list{width:1000px;margin-bottom:16px;}
.ld_list li{width:314px;height:348px;border:1px solid #e8e8e8;margin-right:16px;position:relative;}
.ld_goods{width:314px;height:192px;}
b{color:#f76120;}
.ld_goods_name{font-size:15px;color:#000;margin-left:16px;margin-top:17px;font-weight:bold;margin-bottom:10px;}
.ld_goods_name b{font-weight:bold;}
.ld_goods_intro{font-size:14px;color:#999;margin-left:19px;}
.ld_goods_sale{margin-top:26px;margin-bottom:12px;}
.ld_goods_sale strong{font-size:19px;color:#f76120;margin-right:16px;font-weight:bold;margin-left:16px;}
.ld_goods_sale p{font-size:12px;color:#999;margin-top:4px;}
.ld_goods_sale span{text-decoration:line-through;}
.ld_goods_comment{height:22px;background:#fafafa;padding-top:13px;padding-left:17px;font-size:12px;color:#999;padding-right:17px;border-top:1px solid #e8e8e8;}
.ld_goods_comment a{background:url(../images/ld5.jpg) no-repeat 0;padding-left:65px;}

.ld_noorder{position:absolute;top:-4px; left:10px;}
.ld_clock{width:573px;height:35px;background:#fafafa;line-height:35px;padding-left:405px;color:#999;border:1px solid #e8e8e8;display:block;}
.ld_clock img{margin-left:5px;margin-top:12px;}

.ld_city{width:978px;height:125px;border:1px solid #e8e8e8;margin:0 auto;}
.ld_city_head{height:41px;border-bottom:1px solid #e8e8e8;background:#fcfcfc}
.ld_city_head a{color:#00bbbb;width:87px;height:41px;border-right:1px solid #e8e8e8;line-height:41px;text-align:center;font-size:14px;}
.ld_city_head .ld_active{color:#333;background:#fff;height:40px;position:relative;border-top:2px solid #0bb;}
.ld_city_head a:hover{color:#333;background:#fff;height:40px;position:relative;border-top:2px solid #0bb;line-height:40px;}
.ld_city_list{padding-left:20px;padding-top:17px;}
.ld_city_list a{margin-right:20px;margin-bottom:8px;font-size:12px;}
.ld_city_list a:hover{color:#00bbbb;}










