@charset "utf-8";
/* CSS Document */
/*头部*/
.wtj_login_list{background:url(../images/wtj_bg.png) repeat-x;height:21px;font-size:12px;padding-top:10px;}
.wtj980{width:980px;margin:0 auto;overflow:hidden}
a{color:#666}
a:hover{color:#2db8ad}
.wtj_login_list_left li{float:left;margin-right:15px;height:16px;}
.wtj_login_list_left .wtj_login{color:#f76120}
.wtj_login_list_left .wtj_phone{padding-left:9px;padding-right:20px;background:url(../images/wtj1.png) no-repeat 77px;}
.wtj_login_list_left .wtj_phone i{background:url(../images/base.vdd88fa40.png) no-repeat 0 -154px;height:16px;width:10px;margin-right:3px;}
.wtj_login_list_left .wtj_reg{padding-right:10px;border-right:1px solid #ddd;margin-right:8px;}
.wtj_login_list_right{margin-right:-1px;}
.wtj_login_list_right li{float:left;border-right:1px solid #ddd;}
.wtj_login_list_right .wtj_my{height:12px;line-height:12px;margin-right:10px;}
.wtj_login_list_right li a{float:left;padding-left:12px;padding-right:8px;height:12px;line-height:12px;}
.wtj_login_list_right li i{float:right;background:url(../images/wtj1.png) no-repeat;height:16px;width:10px;margin-left:8px;margin-top:5px;}
.wtj_logosearch{padding-top:22px;height:90px;}
.wtj_logo{background:url(../images/base.vdd88fa40.png) no-repeat 0 -78px;height:54px;width:82px;margin-right:10px;}
.wtj_area h3{font-size:17px;margin-bottom:5px;margin-top:8px;}
.wtj_area{margin-right:92px;}
.wtj_area span{font-size:12px;color:#999;border:1px solid #eee;padding:5px 5px 3px;}
.wtj_search{width:490px;height:40px;border:3px solid #2db8ad;margin-top:4px;margin-right:42px;}
.wtj_search_box p a{margin-right:20px;float:left;line-height:28px;height:28px;font-size:12px;}
.wtj_search_left{border-left:1px solid #fff;border-right:1px solid #ddd;background:#fafafa url(../images/wtj1.png) no-repeat 48px center;height:40px;width:47px;line-height:40px;padding-left:14px;color:#666}
.wtj_txt{font-size:14px;padding:12px 5px 12px;width:335px;color:#757575}
.wtj_search_right{color:#fff;background:#2db8ad;height:40px;width:82px;line-height:40px;text-align:center;}
.wtj_after_sales{margin-top:6px;}
.wtj_after_sales a{height:42px;width:36px;float:left}
.wtj_after_sales .img1{background:url(../images/base.vdd88fa40.png) no-repeat -10px -30px;margin-right:29px;}
.wtj_after_sales .img2{background:url(../images/base.vdd88fa40.png) no-repeat -75px -30px;width:60px;margin-right:26px;}
.wtj_after_sales .img3{background:url(../images/base.vdd88fa40.png) no-repeat -160px -30px;margin-right:0px;}

.wtj_menu_left{color:#fff;font-size:14px;width:198px;height:24px;background:#2bb8aa;padding-left:17px;padding-top:14px;}
.wtj_menu_middle{width:730px;padding-left:15px;font-size:14px;}
.wtj_menu_middle li{float:left;}
.wtj_menu_middle li a{height:38px;line-height:38px;padding:0 15px;font-weight:bold;}
.wtj_famous{;background:url(../images/wtj2.png) no-repeat 15px center;padding-left:20px;}
.wtj_famous a{color:#f66022}
.wtj_menu_right{width:208px;height:38px;line-height:38px;font-size:12px;text-align:right;background:url(../images/wtj3.png) no-repeat 90px 10px;}




.wrap{width:980px;margin: 0 auto;}
.register_email{width: 978px;height:565px;border:1px solid #e8e8e8;margin:10px 0 65px 0; }
.reg_mode{width: 858px;height:36px;border-bottom: 1px solid #d9e8e8;margin:28px 60px 0 60px;}
.reg_mode .email{height:36px;width:163px;line-height: 36px;text-align: center; background: #1aa29e;margin-left: 10px; position: relative;}
.reg_mode .email span{background:url(../images/zxyregister1.png) no-repeat 0;padding-left: 23px; font-size:14px; font-weight: bold;color: #fff;}
.reg_mode .email i{background:url(../images/zxyregister3.png) no-repeat;width: 10px;height:5px;position: absolute;top:36px;left: 76px;}
.reg_mode .phone{height:35px;width:156px;line-height: 36px;text-align: center;border:1px solid #d9e8e8;border-bottom: none; background: #e9f6f6;margin-left: 7px;}
.reg_mode .phone span{background:url(../images/zxyregister2.png) no-repeat 0;padding-left: 18px; font-size:14px; font-weight: bold;color: #2bb8aa;}
.reg_mode p{line-height: 36px;font-size: 14px;color:#000;}
.reg_mode p a{color:#2bb8aa;}
.cont{margin-top:28px;}
.t_email,.t_user{margin-bottom: 16px;}
.cont .input_box{height:36px;line-height: 36px;}
.cont .input_box p{width:129px;font-size: 14px;color:#333;}
.cont .input_box input{width:258px;height: 34px;border: 1px solid #f7611e;margin: 0 8px 0 10px;}
.cont .input_box b{background: url(../images/zxyregister4.png) no-repeat 0;padding-left: 22px;font-size: 12px;color:#666;}
.cont .grade{margin:6px 0 4px 140px;}
.cont .grade span{width:85px;height:20px;line-height: 20px;text-align: center;background: #eee;color:#fff;font-size: 12px;margin-right: 2px;}
.cont .sel_box{height:26px;line-height: 26px;margin-top: 21px;}
.sel_box .province{margin: 0 4px 0 10px;}
.cont .subscription{height: 18px; background: url(../images/zxylogin5.png) no-repeat 0;margin:22px 0 0 140px; padding:5px 0 0 19px;font-size:12px;color:#333;}
.cont .verification{margin-top: 18px;}
.cont .verification input{width:72px;height: 34px;border: 1px solid #aaa;margin: 0 4px 0 10px;}
.cont .verification a{margin-left: 7px;font-size: 12px;color:#2bb8aa;}
.cont .enroll_btn{margin-left: 140px;margin-top: 29px;}
.enroll_btn .btn{height:36px;width: 193px;background: #2db5a7; border-bottom: 1px solid #0d7b71;border-radius: 3px;font-size: 14px;font-weight: bold;color: #fff;}
.enroll_btn p a{font-size: 12px;color:#2bb8aa;}

/*尾部*/
.wtj_foot{background:#f6f6f6;border-top:3px solid #3aa2a2;height:328px;}
.wtj_foot_top{margin-bottom:34px;}
.wtj_foot_top li{float:left;width:169px;height:156px;border-left:1px dotted #a5a5a5;padding-left:25px;padding-top:24px;}
.wtj_foot_top h2{font-size:14px;height:30px;}
.wtj_foot_top a{font-size:12px;display:block;background:url(../images/wtj4.png) no-repeat 4px;padding-left:17px;height:20px;}
.wtj_foot_top .wtj_tel{height:92px;background:url(../images/wtj5.png) no-repeat center 21px;border-right:1px dotted #a5a5a5;padding-top:88px;}
.wtj_tel p{color:#666;font-size:12px;height:18px;}
.wtj_tel a{color:#2bb8aa;height:32px;background:none;}
.wtj_foot_p{color:#999;margin-left:400px;font-size:12px;height:34px;}
.wtj_foot_b{margin-left:382px;}
.wtj_foot_b a{float:left;margin-right:14px;}
