@charset "utf-8";
/* CSS Document */
/* 清除默认样式 */
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,ol,input,select,i,b,strong,img,em
{ 	
	margin:0;
	padding:0;
}

a{ text-decoration:none;}
li{ list-style:none;}
i,em{ font-style:normal;}
strong,b{ font-weight:normal;}
input{ border:none;outline:none;}
/*清除默认样式结束 */


/*通用样式 */
.fl{ float:left;display:inline;}
.fr{ float:right;display:inline;}

.clearFix:after{ content:'';clear:both;display:block;}
.clearFix{ zoom:1;}

img{ display:block;}
.wrap{width:1000px;margin:0 auto;}
body{font-size:14px;color:#333;background: #f3f3f3 url(../images/bg_1.png) repeat-x;}
a{color:#333;}
a:hover{color:#e60012;}
/*通用样式结束 */