/* 顶部 */
.top{
	height:42px;
	border-bottom: 1px solid #ccc;
	font-size:12px;
	background: #fbfbfb;
	color:#666;
}
.set360{
	width:109px;
	height:23px;
	border:1px solid #ccc;
	line-height:23px;
	text-align: center;
	margin-top:10px;
	margin-right:325px;

}
.top_classic,.top_new{
	width:58px;
	height:42px;
	border:1px solid #ccc;
	border-top:none;
}
.top_classic{
	background:
	url(../images/top_1.png) 
	no-repeat 21px 10px;
	
}
.active2{
	background-color: #fff;
	height:43px;
	border-bottom:#fff;
}
.top_new{
	background:
	url(../images/top_2.png) 
	no-repeat 21px 10px;
	margin-left:-1px;
}
.top_right{
	margin-right:12px;
	margin-top:10px;
	overflow:hidden;

}
.top_right li{
	border-right:1px solid #ccc;
	padding:0 12px;
	margin-right:-1px;
}
.top_right li a{
	color:#666;
}
.top_right li a:hover{
	color:#f60;
}
.top_right li.hover a{
	color:#f60;
}


/*header部分*/
.header{
	height:61px;
	padding-top:9px;
	font-size:12px;

}
.header h1{
	background:
	url(../images/logo.png)
	no-repeat;
	width:193px;
	height:33px;
	margin-top:10px;
	margin-left:10px;
	margin-right:66px;
}
.header .addr {

	text-align:center;
	margin-right:34px;
	margin-top:9px;
}
.header .addr p{
	font-weight:bold;
	margin-bottom:4px;
}
.header .addr span{
	font-size:12px;
}
.header .weather .today,.header .weather .tomorrow{
	margin-top:9px;
}
.header .weather .today img{
	margin-right:12px;
}
.header .weather_msg p{
	margin-bottom:4px;
}
.header .today .weather_msg i{
	background:#f60;
	display: inline-block;
	padding:1px 1px;
	color:#fff;
}
.header .weather_in{
	width:13px;
	height:12px;
	background: url(../images/header_2.png)
	no-repeat;
	margin-left:22px;
	margin-top:22px;
	margin-right:14px;
}
.header b{
	width:1px;
	height:52px;
	background:#ccc;
	margin-right:26px;
}
.header .time{
	text-align:center;
	line-height:24px;
	margin-right:26px;
}
.header .joke{
	line-height:24px;
	color:#666;
}
.header .email i{
 	display:inline-block;
 	width:14px;
 	height:11px;
 	background:url(../images/youxiang.png)
 	no-repeat 0 -2px;
 	background-size:14px;
 	margin-right:5px;
}
.header .email input{
	border:1px solid #ccc;
	width:138px;
	padding:3px 6px; 
}

/* nav部分*/
.nav{
	width:998px;
	height:108px;
	background: url(../images/nav_bg1.png) 
	repeat-x;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.nav .search_select{
	width:97px;
	height:32px;
	position:relative;
	margin-left:132px;
	margin-top:44px;
	margin-right:12px;
	
}
.search_select_son div{
	width:97px;
	height:32px;
	background:url(../images/sprit.png) no-repeat 0 -516px;
}

.nav .search_tag{
	width:7px;
	height:4px;
	background:url(../images/nav_1.png) no-repeat;
	position:absolute;right:0;top:13px;
}
.nav .search_tag_click{
	
	}
.nav .search_select_list{
	display:none;
	width:97px;
	border:1px solid #d2d2d2;
	border-bottom:none;
	background-color:#fff;
	position:absolute;
	left:0;top:33px;
	
}
.nav .search_select_list li{
	width:97px;
	height:32px;
	border-bottom:1px solid #d2d2d2;
	
}
.nav .search_select_list li div{
	width:100%;
	height:100%;
}
.nav .zonghe{
	background:url(../images/sprit.png) no-repeat 0 -516px;
}
.nav .haosou{
	background:url(../images/sprit.png) no-repeat 0 -659px;
}
.nav .bing{
	background:url(../images/sprit.png) no-repeat 0 -560px;
}
.nav .google{
	background:url(../images/sprit.png) no-repeat 0 -162px;
}
.nav .youdao{
	background:url(../images/sprit.png) no-repeat 0 -38px;
}
.nav .baidu{
	background:url(../images/sprit.png) no-repeat 0 0;
}

.nav .search_select_list li:hover{
	background-color:#EFF8FF;
}


.nav .nav_main{
	width:506px;
}
.nav .nav_main ul{
	margin-top:8px;
	margin-bottom: 7px;
}
.nav .nav_main ul li a{
	display:block;
	padding:5px 7px 4px;
	margin-left:4px;
	color:#333;
}


.nav .nav_main ul li a.active1{
	background: #3eaf0e;
	border-radius:3px;
	color:#fff;
}
.nav .nav_main ul li a:hover{
	background: #3eaf0e;
	border-radius:3px;
	color:#fff;
}
.nav .nav_main .inp{
	width:504px;
	height:39px;
	position:relative;
}
.nav .nav_main .inp input{
	width:478px;
	height:39px;
	box-shadow: inset 1px 1px 1px #EFEFEF;
	border:1px solid #ccc;
	padding:0 21px 0 5px;
}
.nav .nav_main .inp em{
	position:absolute;
	right:15px;
	top:18px;
	background:url(../images/nav_1.png)
	no-repeat;
	width:7px;
	height:4px;
}
.nav .nav_main .nav_keyword{
	font-size:12px;
	margin-top:8px;
	width:506px;
}
.nav .nav_main .nav_keyword b{
	width:12px;
	height:12px;
	background:url(../images/nav_bg3.png)
	no-repeat;
	margin-top:2px; 
}
.nav .nav_main .nav_keyword a{
	color:#333;
	margin-right:14px;
}
.nav .nav_main .nav_keyword .extend{
	margin-left:14px;
	padding:2px 1px;
	color:#3eaf0e;
	position:relative;
	
}
.nav .nav_main .nav_keyword i{
	background: url(../images/nav_3.png)
	no-repeat 0 0;
	width:10px;
	height:5px;
	display:inline-block;
}
.nav .nav_main .nav_keyword .extend:hover i{
	background:url(../images/nav_2.png)
	no-repeat 0 -9px;
}
.nav .nav_main .nav_keyword .extend:hover{
	background:green;
	color:#fff;
	cursor:hand;
}
.nav .nav_main .nav_keyword .extend span{
	position:absolute;
	right:0;
	top:22px;
	width:504px;
	height:184px;
	background:url(../images/extend1.jpg) no-repeat;
	border:1px solid #E7E7E7;
}
.nav .search{
	width:98px;
	height:39px;
	background:url(../images/nav_bg2.png)
	repeat-x;
	border:1px solid #6a6a6a;
	margin-top:40px;
	margin-left:5px;
	font-size:16px;
}
.nav .nav_hot{
	font-size:12px;
	color:#666;
	margin-top:52px;
	margin-left:10px;
}



/*副导航*/
.w105{
	width:105px;
}
.w26{width:26px;
	font-size:12px;
	border-right:1px dotted #c9cbce;
	background:url(../images/sub_nav1.png)
	no-repeat center 4px;
	padding-top:22px;
	height:14px;
	line-height:normal;
	color:#999;
	text-align:center;
}
.w17{
	height:36px;
	width:17px;
	background:url(../images/nav_1.png)
	no-repeat center;
}
.subtit{
	width:998px;
	height:36px;
	border:1px solid #ccc;
	line-height:36px;
	margin-bottom:10px;
	
}
.subtit ul{
	width:1000px;
}
.subtit li a{
	height:36px;
	border-left:1px dotted #c9cbce;
	border-right:1px dotted #c9cbce;
	margin-left:-1px;
	display:block;
	color:#333;
	background: #fff;
	
}
.subtit li a i{
	display:inline-block;
	width:16px;
	height:16px;
	margin:;
	vertical-align:middle;
	margin-top:-3px;
	margin-left:12px;
	margin-right:8px;

}
.subtit li a:hover{
	background:#eceef1;
}
.subtit li a .list1{
	background:url(../images/sub_nav.png)
	no-repeat;
}.subtit li a .list2{
	background:url(../images/sub_nav.png)
	no-repeat 0 -39px;
}.subtit li a .list3{
	background:url(../images/sub_nav.png)
	no-repeat 0 -77px;
}.subtit li a .list4{
	background:url(../images/sub_nav.png)
	no-repeat 0 -118px;
}.subtit li a .list5{
	background:url(../images/sub_nav.png)
	no-repeat 0 -280px;
}.subtit li a .list6{
	background:url(../images/sub_nav.png)
	no-repeat 0 -159px;
}.subtit li a .list7{
	background:url(../images/sub_nav.png)
	no-repeat 0 -322px;
}.subtit li a .list8{
	background:url(../images/sub_nav.png)
	no-repeat 0 -241px;
}.subtit li a .list9{
	background:url(../images/sub_nav.png)
	no-repeat 0 -200px;
}
.subtit li.active a{
	border-left:1px solid #c9cbce;
	border-right:1px solid #c9cbce;
	border-top:2px solid #54b82a;
	margin-top:-1px;
	line-height:35px;
	background:#f8f8f8;
}
.subtit li:visited a,.subtit li:active a{
	border-left:1px solid #c9cbce;
	border-right:1px solid #c9cbce;
	border-top:2px solid #54b82a;
	margin-top:-1px;
	line-height:35px;
	background:#f8f8f8;
}


/*左边内容*/
.cont_left{
	width:240px;
}
.section{
	border:1px solid #ccc;
	box-shadow:1px 1px 2px #DEDEDE;
	background:#fff;
	margin-bottom:10px;
}
.cont_left .list{
	height:203px;
}
.cont_left .list ul{
	margin-left:9px;
	margin-top:10px;
}
.cont_left .list li{
	width:91px;
	margin-bottom:16px;
	padding-left:23px;
	
}
.cont_left a:hover{
	text-decoration:underline;
}
.colf60{
	color:#f60;
}

.list .icon1{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -154px;
}.list .icon2{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -124px;
}.list .icon3{
	background:url(../images/cont_left_bg1.png)
	no-repeat left 0;
}.list .icon4{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -63px;
}.list .icon5{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -30px;
}.list .icon6{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -276px;
}.list .icon7{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -95px;
}.list .icon8{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -186px;
}.list .icon9{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -330px;
}.list .icon10{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -304px;
}.list .icon11{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -247px;
}.list .icon12{
	background:url(../images/cont_left_bg1.png)
	no-repeat left -217px;
}


.cont_left .advertise_box{
	height:117px;
	position:relative;
}
.cont_left .advertise{
	height:117px;
	text-align:center;
}
.cont_left .advertise img{
	width:238px;
	height:60px;
}
.cont_left .advertise p{
	line-height:26px;
}


.cont_left .guess_tit{
	padding:8px 9px 8px 6px;
}
.guess_tit h3{
	color:#54b82a;
	font-size:14px;
	font-weight:bold;
}
.guess_tit span{
	font-size:12px;
	color:#666;
	background:url(../images/cont_left2.png)
	no-repeat left;
	padding-left:20px;
}

.guess{
	height:1331px;
	overflow:hidden;
}
.guess_cont {
	margin-bottom:10px;
}
.guess_cont ul{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:24px;
	width:240px;
}
.btn{
	width:59px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	height:24px;
	text-align:center;
	line-height:24px;
	margin-left:-1px;
	float:left;
}
.btn a{
	display:block;
	width:100%;
	height:100%;
}
.btn a:hover{
	background:#eceef1;
	text-decoration: none;
	color:#333;
}
.btn.active{
	border-top:2px solid #54b82a;
	margin-top:-1px;
	background:#fff;
}
.btn.active a{
	color:#333;
	font-weight:bold;
}
.btn.active a:hover{
	background:#fff;
	text-decoration:underline;
}
.cont{display:none;}
.cont.active{display:block;}
.cont .pic{
	
	position:relative;
	width:208px;
	height:90px;
}
.cont .pic img{
	width:208px;
	height:90px;
}
.cont .pic i{
	width:100%;
	height:20px;
	position:absolute;
	left:0;
	bottom:0;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);

}
.cont .pic p{
	position: absolute;
	left:30px;
	bottom:0;
	line-height:20px;
	color:#fff;
	font-size:12px;
}
.cont .link p{
	line-height:25px;
	background: url(../images/cont_left3.png)
	no-repeat 0 center;
	padding-left:9px;
	margin-left:16px;
}
.cont .slider{
	margin-top:11px;
	margin-left:15px;
	margin-bottom:5px;
	width:208px;
	height:90px;
	position:relative;
}
.prev,.next{
	width:20px;
	height:40px;
	position:absolute;
	top:50%;
	margin-top:-20px;
	background:rgba(0,0,0,0.5);
	display:none;
}
.prev{
	
	left:0;
}
.next{
	right:0;
}
.prev span{
	display:inline-block;
	width:10px;
	height:19px;
	background:url(../images/arr1.png) 
	no-repeat 0;
	margin-top:11px;
	margin-left:4px;
}
.next span{
	display:inline-block;
	width:10px;
	height:19px;
	background:url(../images/arr1.png) 
	no-repeat -26px;
	margin-top:11px;
	margin-left:4px;
}

.slider:hover .prev,.slider:hover .next{
	display:block;
}
.prev:hover,.next:hover{
	background:rgba(0,0,0,0.8);
}

.cont_left .charge{
	font-size:12px;
	width:202px;
	margin-left:12px;
	padding-left:6px;
	border-top:1px solid #ccc;
}
.cont_left .charge_tit p,.cont_left .charge_tit div{
	color:#333;
	margin-top:9px;
	margin-bottom:13px;

}
.cont_left .charge_tit a,.cont_left .charge_tit span{
	color:#868686;
}
.charge input[type=text]{
	width:81px;
	padding:3px 2px;
	margin-right:4px;
	border:1px solid #ccc;
	color:#ccc;

}
.charge input[type=submit]{
	width:32px;
	height:20px;
	background:#efefef;
	border:1px solid #ccc;
}

/*右边内容*/
.cont_right{
	width:750px;
	height:;
}


/*website部分*/
.cont_right .website{
	width:748px;
	height:316px;
}
.cont_right .web_tit{
	height:30px;
	line-height:30px;
	margin-bottom: 4px;
	border-bottom:1px solid #f2f2f2;
	background:#fcfcfc;
}
.cont_right .web_tit h3{
	color:#3eaf0e;
	margin-left:14px;
}
.cont_right .web_tit p{
	margin-right:15px;
}
.cont_right .web_tit p:hover{
	cursor:pointer;
}
.cont_right .web_list li{
	line-height:29px;
	width:124px;
	text-align:center;
}
.cont_right .line{
	width:733px;
	margin-left:8px;
	height:0;
	border-top:1px dotted #ccc;
	margin-top:5px;
	margin-bottom:3px;
}
.web_list .video360{
	display:inline-block;
	
	background:url(../images/video360.png)
	no-repeat 0;
	padding-left:20px;
}
.web_list .tianmao{
	display:inline-block;
	background: url(../images/tianmao.png)
	no-repeat 0;
	padding-left:20px;
}
.web_list .tmjx{
	width:58px;
	height:19px;
	margin-bottom:-2px;
	display:inline-block;
	background: url(../images/website_1.jpg)
	no-repeat 0;
}

/*find部分开始*/
.cont_right .find{
	height:213px;
}
.cont_right .find_tit{
	height:26px;
	line-height:26px;
}
.cont_right .find_tit h3{
	font-weight:bold;
	color:#3eaf0e;
	margin-left:14px;
}

.cont_right .find_tit i{
	float:left; 
	width:19px;
	height:19px;
	margin-top:4px;
	
}
.cont_right .find_tit i.pageup{
	background: url(../images/arr2.png)
	no-repeat;
	margin-right:6px;
}
.cont_right .find_tit i.pagedn{
	background: url(../images/arr2.png)
	no-repeat 0 -42px;
	margin-right:12px;
}

.cont_right .find_tit i.pageup:hover{
	background: url(../images/arr2.png)
	no-repeat 0 -21px;
}
.cont_right .find_tit i.pagedn:hover{
	background: url(../images/arr2.png)
	no-repeat 0 -63px;
}

.cont_right .find_tit span{
	float:left;
	width:5px;
	height:5px;
	background:#B9B9B9;
	margin-right:6px;
	margin-top:12px;
}
.cont_right .find_tit span.active{
	background: #54b82a;	
}
.cont_right .find .line{
	width:740px;
	height:0;
	border-top:1px dotted #ccc;
	margin-left:4px;
	margin-bottom:8px;
}


.cont_right  .find_list dl{
	line-height:28px;
}
.cont_right  .find_list dl:hover{
	background:#f3fafe;
}
.cont_right  .find_list dt a{
	color:#07519a;
}
.cont_right  .find_list dt a:hover{
	color:#e60012;
}
.cont_right  .find_list dt{
	width:50px;
	margin-left:12px;
}
.cont_right  .find_list dd{
	width:103px;
}
.cont_right .find_list .change{
	font-size:12px;
	color:#919191;
	margin-right:13px;
	margin-top:10px;
}
.cont_right .find_list .change:hover{
	color:#e60012;
	cursor:pointer;
}

/*find部分结束*/

.cont_right .link_more{
	margin-bottom: 8px;
	text-align:center;
}



/*cool_site部分开始*/
.cool_site{
	overflow: hidden;
	height:1098px;
}
.cool_site .cool_site_nav{
	height:30px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	background:#fafafa;
	margin-left:-1px;
	margin-top:-1px;
}
.cool_site_nav li{
	height:16px;
	padding:0 12px;
	border-left:1px solid #d8d8d8;
	margin-top:7px;
}
.cool_site_nav li a{
	display:block;
	width:100%;     /*百分数好像不起作用*/
	height:100%;
	color:#07519a;
}
.cool_site_nav li a:hover{
	color:#e60012;
}
.cool_site dl{
	line-height:30px;
}
.cool_site dt{
	width:50px;
	margin-left:12px;
}
.cool_site dt a{
	color:#07519a;
}
.cool_site dt a:hover{
	color:#e60012;
}
.cool_site dd{
	width:103px;
}
.cool_site .more{
	color:#999;
	font-size:12px;
	margin-top:8px;
	margin-right:14px;
}
.cool_site_s{
	margin-bottom:5px;
}

/*cool_site结束*/

.catagory_service{
	height:223px;
	overflow:hidden;
}
.catagory_service .inner{
	width:999px;
}
.catagory_service .panel{
	width:332px;
	height:223px;
	border-right:1px solid #c9c9c9;
}
.panel_subtit{
	padding:14px 24px 5px 15px;
}

.panel_subtit h3 i{
	background:url(../images/catagory.png) no-repeat left 0;
	width:16px;
	height:16px;
	float:left;
	margin-right:7px;
	margin-top:-2px;
}
.panel_subtit h3 a{
	color:#3eaf0e;
	float:left;
	font-weight:bold;
}
.panel_subtit h3 a:hover{ color:#e60012;}
.panel .item_word{ padding-left:37px;padding-right:5px;}
.panel .item_word h3{ width:53px;line-height:29px;font-size:14px;font-weight:normal; }	
.panel .item_word h3 a{ color:#07519a;}
.panel .item_word h3 a:hover{ color:#e60012;}
.panel .item_word li{ width:59px;line-height:29px;}

/*relax开始*/

.service{height:302px;overflow:hidden;}
.service .service_hd{height:33px;border-bottom:1px solid #f2f2f2; line-height:33px;}
.service .service_hd h3{height:32px;width:95px;background:url(../images/relax.jpg) no-repeat;margin-left:19px;margin-right:38px;}
.service_hd ul.fl li{width:72px;margin-right:23px;}
.service_hd ul.fl li a{padding:0 8px;height:33px;display:inline-block;text-align:center;}
.service_hd ul.fr {margin-top:8px;margin-right:-1px;}
.service_hd ul.fr li{padding:0 19px;border-right:1px solid #e4e4e4;height:14px;line-height:normal; }
.service .hot_pic {height:258px;position:relative;padding-top:10px;padding-left:36px;}
 .hot_pic .cont1_inner{width:950px;}
 .hot_pic .cont1_inner li{width:165px;height:120px;text-align:center;margin-right:25px;margin-bottom:10px;}
 .hot_pic .cont1_inner li .img_box{width:165px;height:96x;position:relative;display:block;}
 .hot_pic .cont1_inner li .img_mask{ width:100%;height:100%;background:#000;opacity:0.2;filter:alpha(opacity=20);position:absolute;left:0;top:0;display:none;}
 .hot_pic .cont1_inner li:hover .img_mask{ display:block;}
 .hot_pic  .cont1_inner li img{width:165px;height:96px;}
 .hot_pic  .cont1_inner li p{margin-top:8px;}	
 .hot_pic  .prev1,.service .next1{width:26px;height:226px;position:absolute;top:10px;}
 .hot_pic  .prev1{background:url(../images/arr3.png) no-repeat 6px 104px;left:0;}
 .hot_pic  .next1{background:url(../images/arr4.png) no-repeat 6px 104px;right:0;}
 .hot_pic  .prev1:hover,.service .next1:hover{background-color:#f5f5f5;}

.talk{ padding-top:10px;}
.talk_left{ width:214px;height:250px;border-right:1px solid #f2f2f2;padding-left:13px;padding-right:11px;overflow:hidden;}
.talk_left_hd{height:96px;border-bottom:1px dotted #f2f2f2;margin-bottom:4px;}
.talk_left_hd .hd_left{ margin-right:14px;}
.talk_left_hd img{ width:98px;height:62px;border:1px solid #e4e4e4;}
.talk_left_hd p{ text-align:center;font-size:12px;margin-top:8px;}
.talk_left_link { width:262px;}
.talk_left_link li{ float:left;width:90px;line-height:29px;margin-right:12px;background:url(../images/talk1.png) no-repeat 0 center;padding-left:10px;}

.talk_center{ width:453px;height:250px;border-right:1px solid #f2f2f2;padding-right:23px;padding-left:30px;}

.talk_center_hd a{ margin-right:16px;position:relative;width:210px;height:106px;margin-bottom:12px;}
.talk_center_hd a i{ width:100%;height:100%;background:#000;opacity:0.2;filter:alpha(opacity=20);position:absolute;left:0;top:0;display:none;}
.talk_center_hd a:hover i{display:block; }
.talk_center_hd a p{ width:100%;height:22px;line-height:22px;background:rgba(0,0,0,0.6);color:#fff;position:absolute;left:0;bottom:0;text-align:center;}
.talk_center_link li{margin-right:16px;width:194px;line-height:29px;float:left;background:url(../images/talk1.png) no-repeat 0;padding-left:16px;}
.talk_center_link li span{ color:#999;}

.talk_right { width:209px;padding-left:16px;padding-right:24px;}
.talk_right h3 a{font-size:12px;color:#666; }
.talk_right dl dd{ line-height:17px;margin-top:12px;}
.talk_right dl dd i{width:17px;height:17px;background:#e4e4e4;margin-right:7px;text-align:center;}
.talk_right dl dd i.third{ background:#3dae0d;color:#fff;}
.talk_right dl dd span{color:#999999;font-size:12px;} 

.travel_center{width:475px;height:250px;border-right:1px solid #f2f2f2;padding-left:34px;}
.travel_center a{ width:140px;height:118px;margin-right:10px;margin-bottom:7px;}
.travel_center a img{ width:140px;height:88px;}
.travel_center a p{ text-align:center;line-height:30px;}

.beauty_right{ width:716px;padding-left:24px;padding-right:19px;}
.beauty_right .big{ width:175px;height:248px;margin-right:4px;}
.beauty_right a{position:relative;}
.beauty_right a i{ width:100%;height:100%;background:#000;opacity:0.1;filter:alpha(opacity=10);position:absolute; left:0; bottom:0;display:none;}
.beauty_right a:hover i{ display:block;}
.beauty_right a p{ color:#fff;line-height:20px;text-align:center;position:absolute;left:0;bottom:0;width:100%;height:20px;background:rgba(0,0,0,0.5);}
.beauty_right a p:hover{ text-decoration:underline;}
.beauty_right .small{ width:175px;height:122px;margin-right:4px;margin-bottom:4px;}


.service .service_hd .looK_video{ width:80;background:url(../images/video.jpg) no-repeat;margin-right:53px;}
.service .service_hd .shopping{ width:60px;background:url(../images/shop.jpg) no-repeat;margin-right:73px;}
.service .service_hd .games{ width:80px;background:url(../images/game.jpg) no-repeat;margin-right:53px;}
.service .service_hd .baike{ width:100px;background:url(../images/life.jpg) no-repeat;margin-right:33px;}


/*为js准备*/
.cont1{ display:none;}
.cont1.active1{ display:block;}
.btn3.active3 a{border-bottom:2px solid #3eaf0e;height:31px;}
.btn3.active3 a{color:#3eaf0e;}

/**footer 部分*/
.footer{ height:41px;background:#919191;line-height:41px;text-align:center;border-top:1px solid #7e7e7e;color:#c2c2c2;margin-top:15px;font-size:12px;}
.footer a{ color:#c2c2c2;}
/*网址管理弹出层*/
.pop{
	position:absolute;
	left:50%;
	top:196px;
	margin-left:-500px;
	width:1000px;
	height:554px;
	border:1px solid #a1a1a1;
	background:#f4f4f4; 
}
.pop .pop_side{
	width:238px;
	border-right: 1px solid #ebeced;
	color:#3dae0e;
	height:100%;
	text-align:right;
	padding-right:11px;
	position:relative;
}
.pop_side .p1{
	margin-top:59px;
}
.pop_side .p2{
	margin-top:38px;
}
.pop_side .p3{
	margin-top:42px;
}
.pop_side i{
	position:absolute;
	width:9px;
	height:16px;
	background:url(../images/pop_bg.png)
	no-repeat;
	right:-8px;
}
.pop_side .i1{
	top:60px;
}
.pop_side .i2{
	top:113px;
}
.pop_side .i3{
	top:172px;
}
.pop_right_tit{
	height:45px;
	border-bottom: 1px solid  #ebeced;
	line-height:45px;	
}
.pop_right_tit strong{
	margin-left:10px;
	font-size:15px;
	font-weight:bold;
	color:#333;
	margin-right:10px;
}
.pop_right_tit a{
	color:#47b702;
	text-decoration:underline;
}
.pop_right_tit span{
	margin-left:280px;
	font-size:30px;
	color:#ccc;

}
.pop_right_tit span:hover{
	cursor:pointer;
}

.pop_right_cont{
	width:750px;
	height:508px;
	background:#fff;
}
.pop_right_cont p{
	height:46px;
	line-height:46px;
	text-align:center;
	border-bottom:1px dotted #ccc;
}
.pop_right_cont input[type=text]{
	width:226px;
	height:26px;
	border:1px solid #47b702;
}
.pop_right_cont input[type=submit]{
	width:70px;
	height:26px;
	background: #47b702;
	color:#fff;
}
.pop_right_cont .input_in{
	height:60px;
	border-bottom:1px dotted #ccc;
	line-height:60px;
	padding-left:12px;
}
.mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	position:fixed;
	left:0;
	top:0;
}